<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag params[:controller] %>

<%= link_to "Create", new_event_path %>
<%= link_to "Agenda", events_path %>

<div id="mini-calendar"></div>
<div id="calendar"></div>

<% if @date %>
<script>
  //Moves the calendar to a specified date.
  $(document).ready(function() {
    $('#calendar').fullCalendar('gotoDate', new Date(<%= @date %>));
  });
</script>
<% end %>
