<!DOCTYPE html>
<html>
<head>
  <title><%= t('.title') %></title>
  <%= stylesheet_link_tag    "calendar/application", media: "all" %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "calendar/application" %>
  <%= csrf_meta_tags %>

  <%#
    Setting a viewport tells the browser how content should fit on the device's
    screen and informs the browser that the site is optimized for mobile.
    See http://dev.opera.com/articles/view/an-introduction-to-meta-viewport-and-viewport/
    <meta name="viewport" content="width=500">
  %>

  <script type="text/javascript">
    I18n.defaultLocale = '<%= I18n.default_locale %>';
    I18n.locale = '<%= I18n.locale %>';
  </script>
</head>
<body>

<%= render 'layouts/calendar/navbar' %>

<div class="container-fluid">
  <div class="row-fuild">
    <%= render 'layouts/calendar/flashes' %>
    <%= yield %>
  </div>

  <%= render 'layouts/calendar/footer' %>
</div>

</body>
</html>
