<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <title><%= t('.title') %></title>

  <%#
    Setting a viewport tells the browser how content should fit on the device's
    screen and informs the browser that the site is optimized for mobile.
    See http://dev.opera.com/articles/view/an-introduction-to-meta-viewport-and-viewport/
  %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag "calendar/application", media: "all" %>

  <%# HTML5 shim, for IE6-8 support of HTML5 elements %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js" %>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/calendar/navbar' %>

<div class="container-fluid">
  <%= render 'layouts/calendar/flashes' %>

  <div class="row-fluid">
    <div class="span2">
      <%# Sidebar content %>
      <%= render 'layouts/calendar/sidebar' %>
    </div>
    <div class="span10">
      <%# Body content %>
      <%= yield %>
    </div>
  </div>

  <%= render 'layouts/calendar/footer' %>
</div>

<%#
  JavaScript placed at the end of the document so the pages load faster
  See http://developer.yahoo.com/performance/rules.html#js_bottom
%>

<%= javascript_include_tag "calendar/application" %>

<%# I18n translations for JavaScript, see https://github.com/fnando/i18n-js %>
<%= javascript_tag do %>
  I18n.defaultLocale = '<%= I18n.default_locale %>';
  I18n.locale = '<%= I18n.locale %>';
<% end %>

</body>
</html>
