<%= simple_form_for(@event, :html => { class: 'form-horizontal' }) do |f| %>
  <br />

  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <%= notification %>
    </div>
  <% end %>

  <%= f.input :title, autofocus: true, input_html: { class: "input-xlarge" } %>

  <div class="datepair">
    <%= f.input :starts_at, as: :date_pair, input_html: { class: "start" } %>
    <%= f.input :ends_at, as: :date_pair, input_html: { class: "end" } %>
    <%= f.input :all_day, as: :date_pair_all_day, label: false, inline_label: true %>
  </div>

  <%= f.input :location, input_html: { class: "form-horizontal input-xlarge" } %>

  <%= f.input :description, input_html: { class: "input-xlarge", rows: "3" } %>

  <%= f.input :color, collection: Calendar::Event::COLORS, selected: @event.color %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= link_to t('.back_to_calendar'), root_path %>
  </div>
<% end %>
