<%= simple_form_for(@event, :remote => true, :html => { class: 'form-vertical' }) do |f| %>
  <div class="control-group">
    <label class="control-label"><%= t('.when') %></label>
    <div class="controls">
      <span class="input uneditable-input"><%= datepair_tag @event.starts_at, nil, @event.all_day %></span>
      <%= f.hidden_field :starts_at %>
      <%= f.hidden_field :ends_at %>
      <%= f.hidden_field :all_day %>
    </div>
  </div>

  <%= f.input :title, autofocus: true %>

  <%= f.button :submit %>
  <%= link_to t('calendar.events.show.edit'), '#', id: 'edit_event' %>
<% end %>

<script>
  <%#
  Update the form when the user clicks on the edit link
  See http://stackoverflow.com/questions/461790/multiple-submit-buttons-forms-in-rails
  %>
  $(document).ready(function() {
    $('#edit_event').click(function() {
      var new_event_form = $('#new_event'); <%# The default form id is 'new_event' %>
      new_event_form.removeAttr('data-remote');
      new_event_form.attr('action', '<%= new_event_path %>');
      new_event_form.attr('method', 'post');
      new_event_form.submit();
    });
  });
</script>
