<%# No layout for this view, see events_controller#show %>

<%= select(:event, :color, available_colors_translated) %>

<p>
  <b><%= t('.when') %></b>
  <%= datepair_tag @event.starts_at, @event.ends_at, @event.all_day %>
</p>

<% if !@event.location.blank? %>
  <p>
    <b><%= t('.location') %></b>
    <%= @event.location %>
  </p>
<% end %>

<%= link_to t('delete'), @event, data: { confirm: t('are_you_sure') }, method: :delete, remote: true %>
|
<%= link_to t('.edit'), edit_event_path(@event) %>

<%= javascript_tag do %>
  $(document).ready(function() {
    var tooltipTitle = $('#ui-tooltip-<%= dom_id(@event) %>-title');
    var colorSelect = $('#event_color');

    <%# Move the color <select> inside the tooltip title %>
    tooltipTitle.prepend(colorSelect);

    colorSelect.simplecolorpicker({
      picker: true
    });

    <%# simplecolorpicker default z-index is 1000, too low for qTip2 z-index which is 15001 %>
    $('.simplecolorpicker.picker').css('z-index', 15002);

    $('.simplecolorpicker.icon').css({
      <%# Back to the defaults set by Twitter Bootstrap %>
      'font-size': '13px',
      'line-height': '18px',

      <%# Margin between the picker icon and the tooltip text %>
      'margin-right': '4px'
    });
  });
<% end %>
