<%= form_for(@event, :remote => true) do |f| %>
  <table>
    <tr>
      <th class="field">When</th>
      <td class="field">
        <%= event_time_tag @event.starts_at, nil, @event.all_day %>
      </td>
    </tr>

    <tr>
      <th class="field">What</th>
      <td class="field">
        <%= f.text_field :title, title: "Event title", autofocus: true %>
      </td>
    </tr>
  </table>

  <%= f.submit %>

  <%= f.submit 'Edit »', name: 'edit_event' %>
<% end %>
