<%= simple_form_for(@event, :remote => true, :html => { class: 'form-vertical' }) do |f| %>
  <div class="control-group">
    <label class="control-label">When</label>
    <div class="controls">
      <span class="input uneditable-input"><%= datepair_tag @event.starts_at, nil, @event.all_day %></span>
      <label class="control-label"></label>
      <%= f.hidden_field :starts_at %>
      <%= f.hidden_field :ends_at %>
      <%= f.hidden_field :all_day %>
    </div>
  </div>

  <%= f.input :title, autofocus: true %>

  <%= f.button :submit %>
  <%= f.button :submit, 'Edit »', name: 'edit_event' %>
<% end %>
