<p>
  <%= @event.starts_at.ctime %> - <%= @event.ends_at.ctime %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<%= link_to 'Destroy', @event, confirm: 'Are you sure?', method: :delete %>
|
<%= link_to 'Edit', edit_event_path(@event) %>
