<table>
  <tr>
    <th class="field">When</th>
    <td class="field"><%= time_tag @event.starts_at %> - <%= time_tag @event.ends_at %>
  </tr>

  <% if !@event.location.blank? %>
    <tr>
      <th class="field">Location</th>
      <td class="field"><%= @event.location %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Delete', @event, confirm: 'Are you sure?', method: :delete, remote: true %>
|
<%= link_to 'Edit »', edit_event_path(@event) %>
